{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/movies-styles.css') }}">
{% endblock %}

{% block page %}
    {% include 'includes/menu.html.twig' %}
    <div id="background">
        <div class="ui four column grid">
            <div class="row">
                {% include 'includes/movies.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/movies-styles.js') }}"></script>
    <script src="{{ asset('build/movies.js') }}"></script>
    <script src="{{ asset('build/subscriptions.js') }}"></script>
    <script src="{{ asset('build/progress.js') }}"></script>
    <script src="{{ asset('build/vendors~progress~subscriptions.js') }}"></script>
{% endblock %}
