<div class="ui large secondary inverted pointing menu">
    <a class="item" href="{{ path('home') }}">Accueil</a>
    <a class="item" href="{{ path('app_movies') }}">Films a l'affiche</a>
    {% if app.user %}
        <a class="item" href="{{ path('app_subscriptions', {'id': app.user}) }}">Inscriptions</a>
    {% endif %}
    <div class="right item">
        {% if app.user %}
            <a class="ui inverted button" href="{{ path('logout') }}">Deconnexion</a>
        {% else %}
            <a class="ui inverted button" href="{{ path('login') }}">Connexion</a>
            <a class="ui inverted button">Inscription</a>
        {% endif %}
    </div>
</div>