<div class="ui middle aligned stackable grid container">
    {% for post in posts %}
        <div class="row">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <img class="thumbnail" src="https://via.placeholder.com/1010x300" alt="placeholder"/>
                <h2>
                    <a href="{{ path('app_read_post', {'slug': post.slug}) }}">{{ post.title }}</a>
                </h2>
                <div class="fr-view">
                    {{ post.content | raw }}
                </div>
                <br/>
                <div class="section">
                    <a href="{{ path('app_edit_post', {'slug': post.slug }) }}" class="btn btn-lg btn-block btn-success">
                        <i class="edit large outline icon"></i>
                        Editer le contenu
                    </a>
                </div>
            </div>
            <div class="one wide column"></div>
        </div>
        <div class="row">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="post-details">
                    <span class="post-author">
                        Par {{ post.author.email }}
                    </span>
                    <span class="post-date">
                        Le {{ post.created|date("d/m/Y") }} a {{ post.created|date("h:i") }}
                    </span>
                </div>
            </div>
            <div class="one wide column"></div>
        </div>
        <div class="ui horizontal divider" style="height: 40px"></div>
    {% endfor %}
</div>