{% for seance in seances %}
    <div class="seance">
            <h4 class="ui blue header">
                Le {{ seance.date | date('d/m/Y') }}
                à {{ seance.date | date('H:i') }}
            </h4>
        {% set subscription = get_subscription(seance) %}
        {% set subscriptionPercent = 0 %}
        {% if seance is not null %}
            {% if seance.totalSubscriptions > 0 %}
                {% set subscriptionPercent = (seance.totalSubscriptions * 100) / seance.maxSubscriptions | round %}
            {% endif %}
        {% endif %}
        {% if subscription is null %}
            {% set subscription = false %}
            <span class="react-subscription"
                  data-is-subscribed="{{ subscription }}"
                  data-percent="{{ subscriptionPercent }}"
                  data-seance="{{ seance.id }}"
                  data-total-subscribers="{{ seance.totalSubscriptions }}"
                  data-max-subscribers="{{ seance.maxSubscriptions }}"
                  data-movie-duration="{{ media.duration }}"
            >Subscribe</span>
        {% elseif subscription.active == true %}
            <span class="react-subscription"
                  data-is-subscribed="{{ subscription.active }}"
                  data-percent="{{ subscriptionPercent }}"
                  data-seance="{{ seance.id }}"
                  data-total-subscribers="{{ seance.totalSubscriptions }}"
                  data-max-subscribers="{{ seance.maxSubscriptions }}"
                  data-movie-duration="{{ media.duration }}"
            >Subscribe</span>
        {% elseif subscription.active == false %}
            <span class="react-subscription"
                  data-is-subscribed="{{ subscription.active }}"
                  data-percent="{{ subscriptionPercent }}"
                  data-seance="{{ seance.id }}"
                  data-total-subscribers="{{ seance.totalSubscriptions }}"
                  data-max-subscribers="{{ seance.maxSubscriptions }}"
                  data-movie-duration="{{ media.duration }}"
            >Subscribe</span>
        {% endif %}
    </div>
{% endfor %}