{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/home-styles.css') }}">
{% endblock %}

{% block page %}
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            {% include 'includes/menu.html.twig' %}
        </div>
    </div>
    <div class="ui inverted vertical masthead center aligned segment" id="background">
        <div class="ui container">
            <div class="ui text container">
                <h1 class="ui inverted header">Festival films en plein air</h1>
                <h2>Venez consulter notre selection de films</h2>
                <div class="ui text container">
                    <a class="ui huge primary button" href="{{ path('app_movies') }}">Plus d'infos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Informations</h3>
                    <p>Mon association "Les Films de Plein Air" vient d'obtenir l'autorisation de projeter au parc Monceau cette année du 5 au 8 août chaque soir, de 18h à minuit. Je souhaite ainsi faire découvrir des films d'auteur au grand public.
                    </p>
                    <h3 class="ui header">Accès</h3>
                    <p>L'accès aux projections est gratuit et ouvert à tous, pensez à créer un compte afin de pouvoir consulter et vous inscrire aux différents films.</p>
                    <p>
                        35, boulevard de Courcelles<br/>
                        75008 PARIS<br/><br/>


                        Complément d'adresse :<br/>
                        boulevard de Courcelles, avenue Vélasquez, avenue Van Dyck, avenue Ruysdael</p>
                </div>
                <div class="six wide right floated column">
                    <iframe class="gmap-container"
                            width="600"
                            height="450"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA8_J5HzeTsQaKQPSECj7eS5xVVXdUeyUo
                            &q=Parc+Monceau" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge primary button" href="{{ path('user_registration') }}">Inscription</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Lorem Ipsum Dolor Sit Amet, Consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae tempus purus. Curabitur eu metus suscipit lorem eleifend dictum. In tempor ipsum et tempor posuere. Nulla nec tellus risus. Sed ac ipsum vel diam ultricies accumsan sed ac metus. Nam lobortis odio eu eros faucibus mollis. Aenean quis mi dapibus, tempor odio venenatis, rutrum turpis.</p>
            <a class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider">
                <a href="#">Case Studies</a>
            </h4>
            <h3 class="ui header">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Sed Placerat ?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet libero ut turpis maximus posuere. Etiam egestas, erat quis elementum auctor, risus mi rhoncus neque, eu egestas ligula elit ac purus. Ut placerat sed elit ut luctus. Pellentesque tristique orci non dictum sodales. Nunc eu venenatis lacus, sit amet commodo ipsum. Phasellus nec nunc ut magna eleifend pharetra a id arcu. Pellentesque rhoncus tellus arcu, at posuere lorem interdum id. Sed non mi pretium, interdum augue in, finibus massa. Aenean ante sapien, faucibus nec viverra at, dignissim quis ante. Suspendisse et vestibulum urna, a dignissim lacus. Sed bibendum vitae orci vitae faucibus. Quisque lobortis orci id augue dictum, ut efficitur nisl fringilla. Quisque eget velit pretium, feugiat turpis eu, imperdiet nunc. Duis arcu orci, congue ut nibh ac, egestas dictum mi. In elementum, nisl id feugiat ullamcorper, lectus velit tristique sapien, eu interdum sapien diam sed massa. Pellentesque ultricies odio at enim pulvinar ornare.</p>
            <a class="ui large button">Read More</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
